@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');
:root{
    --gris: #A2A2A2;
    --preto30: #C8C8C8;
    --preto: #464646;
    --azul: #2A7AE4;
    --blanco: #FFF;
    --preto05: #F5F5F5;
    --footer: #EAF2FD;
}
/* GENERALES */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
input:focus, select:focus, select, textarea.form-control:focus,textarea:focus, textarea.form-control:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
main{
    background-color: var(--preto05) ;
}
.col-6{
    margin-bottom: 13px;
}
/* REUTILIZABLES */
.btn-primary{
    border-radius: 0.1rem;
    font-weight: 300;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.section-ult{
    padding-bottom: 4rem;
}
.section{
    margin-bottom: 4rem;
}
/* NAVBAR */
nav .search{
    background-color: var(--preto05);
    border-radius: 1.25rem;
}
nav .buscador{
    padding-left: 1.5rem;
    border-radius: 1.25rem;
    border:none;
    font-size: 0.8rem;
    color: var(--gris);
    background-color: var(--preto05);
}
nav .buscador:focus{
    background-color: var(--preto05);
}
nav .search-icon{
    border:none;
    color:var(--gris);
    padding-right: 1.5rem;
}

nav .search-chiquito{
    display: none;
}
/* BOTON DE INICIO DE SESIÓN */
.btn-outline-primary{
    border-radius: 0.2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.20rem;
}

/* BANNER */
.banner{
    padding:0;
}
.banner-img{
    height: 22rem;
    background-image: url(../img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.banner-info{
    width: 70%;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: bold;
}
.banner-description{
    font-size:1.375rem;
    font-weight: bold;
}

/* PRODUCTOS */
.titulos{
    margin-bottom: 1rem;
}
.section-title{
    color:var(--preto);
    font-size:1.375rem;
    font-weight: bold;
}
.ver-todo{
    font-weight: bold;
    color: var(--azul);
}
.nombre-producto{
    font-size:0.875rem;
    font-weight: medium;
    color: var(--preto)
}
.precio-producto{
    font-size:1rem;
    font-weight: bold;
    color: var(--preto);
    margin: 0px 0px 8px;
}
.ver-producto{
    font-size:1rem;
    font-weight: bold;
    color: var(--azul);
}
.productos{
    display: flex;
    align-items: center;
    justify-content: center;
}
section .img-fluid{
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
}


/* FOOTER */
.footer h4{
    margin:0;
}
.footer-info{
    background-color: var(--footer);
    padding: 4rem 0;
}
.footer-navbar{
    flex-direction: column;
    align-items: flex-start;
}

.nav-item{
    margin-bottom: 1.5rem;
    color:var(--preto);
}
input{
    border: none;
}
textarea{
    border: none;
    resize: none;
}
label{
    font-size: 0.75rem;
    color:var(--gris);
    font-weight: normal;
}
.inputs{
    margin-bottom: 1rem;
    padding:0.75rem;
    background-color: var(--blanco);
    border-radius: 2px;
    box-shadow: 0 1px 2px #949494;
}


.derechos{

    padding: 2rem 0;
    text-align: center;
    color: var(--preto);
}
.derechos h4{
    font-size: 1rem;
}


/* para el Galaxy Fold */
@media (max-width: 300px) {
    .navbar-brand .img-fluid{
        width: 105px;
    }
    .boton-login{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-size: 0.5rem;
    }
}

@media (max-width: 430px) {
    .btn-primary{
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .banner-info{
        width: 100%;
    }
    .boton-login{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 1rem;
    }
    .banner-title{
        font-size: 1rem;
    }
    .banner-description{
        font-size: 0.825rem;
    }
    .formulario{
        align-items: center ;
    }
  }
@media (max-width: 820px) {
    .footer-content{
        display: flex;
        justify-content: center;
    }
    .banner-info{
        width: 90%;
    }
    .formulario{
        flex-direction: column;
        align-items: center;
    }
  }

@media (max-width: 576px) {
    nav .search{
        display:none !important;
    }
    nav .search-chiquito{
        display: flex;
    }
    nav .search-chiquito{
        color:var(--preto);
        font-weight:bold;
    }
    .footer-content{
        justify-content: center;
    }
}

.todos-productos{
    background-color: var(--preto05);
    padding: 4rem 0;
}
.codigo{
    color:var(--preto);
    font-weight: normal;
}
.producto-img{
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
}